{% extends "base.html" %}

{% block body %}
    <script src="/eel.js"></script>
    <script src="../static/scripts/settings.js"></script>
<svg
   class="progress-ring"
   width="120"
   height="120">
  <circle
    class="progress-ring__circle"
    stroke="white"
    stroke-width="4"
    fill="transparent"
    r="52"
    cx="60"
    cy="60"/>
</svg>

<script>
    var circle = document.querySelector('circle');
var radius = circle.r.baseVal.value;
var circumference = radius * 2 * Math.PI;

circle.style.strokeDasharray = `${circumference} ${circumference}`;
circle.style.strokeDashoffset = `${circumference}`;

function setProgress(percent) {
    circle.style.strokeDashoffset = circumference - percent / 100 * circumference;
}
setProgress(20);

</script>

{% endblock %}
