.heading {
    margin: 5vh 5vw 5vh;
    border-bottom: 1px solid gray;
}

.content {
    margin-left: 5vw;
    margin-right: 5vw;
}

body *:not(#nav *, .heading) {
    transition: 0.5s;
}

.stats:hover {
    transform: scale(1, 1.3);
}
